.main {
  width: 50%;
  position: relative;
  margin: 0 auto;
}
.back {
  position: absolute;
  left: -50%;
  margin-left: 1em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 10px;
  background-color: #1d3557;
  cursor: pointer;
}

.title {
  text-align: center;
}
.description {
  margin: 1em 0;
}
.vente {
  margin: 1em 0;
  text-align: center;
}
