.main {
  width: 50%;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.back {
  position: absolute;
  left: -50%;
  margin-left: 1em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 10px;
  background-color: #1d3557;
  cursor: pointer;
}

.title {
  margin-bottom: 1em;
}
.description {
  margin: 1em 0;
  border: solid black 1px;
  white-space: pre-line;
  font-style: italic;
}
.vente {
  margin: 1em 0;
}
.userprice {
  font-weight: bold;
}
.image {
  height: 200px;
  margin: 0 auto;
  border-radius: 5px;
}
